<%- include('partials/header'); -%>

<% students.forEach((student) => {  %>
  <h1><%= student.Name %></h1>
  <h4>Id: <%= student.Id %> <br>
    Gender: <%= student.Gender %> <br>
    Age: <%= student.Age %> <br>
    Address: <%= student.Address %></h4>
  <br>
<% }); %>

<hr>

<!-- Get -->
<h3>Get student's full details</h3>
<form action="/detailPage" method="post">
  <input type="text" placeholder="Student's Id" autocomplete="off" name="Id" />
  <button class="btn btn-md btn-light btn-outline" type="submit">Get Details</button>
</form>


<% if(isAdmin){ %>
      <!-- Add -->
      <h3>Add new student</h3>
      <form action="/addStudent" method="post">
        <table>
          <tr>
            <td><label for="Id">Id :</label></td>
            <td><input type="text" name="Id" /></td>
          </tr>

          <tr>
            <td><label for="Name">Name :</label></td>
            <td><input type="text" autocomplete="off" name="Name" /></td>
          </tr>

          <tr>
            <td><label for="Age">Age :</label></td>
            <td><input type="text" autocomplete="off" name="Age" /></td>
          </tr>

          <tr>
            <td><label for="Gender">Gender :</label></td>
            <td><input type="text" autocomplete="off" name="Gender" /></td>
          </tr>

          <tr>
            <td><label for="Address">Address :</label></td>
            <td><input type="text" autocomplete="off" name="Address" /></td>
          </tr>

          <tr>
            <td><label for="Company">Company :</label></td>
            <td><input type="text" autocomplete="off" name="Company" /></td>
          </tr>

          <tr>
            <td><label for="Email">Email :</label></td>
            <td><input type="text" autocomplete="off" name="Email" /></td>
          </tr>

          <tr>
            <td><label for="Phone">Phone :</label></td>
            <td><input type="text" autocomplete="off" name="Phone" /></td>
          </tr>

          <tr>
            <td><label for="About">About :</label></td>
            <td><input type="text" autocomplete="off" name="About" /></td>
          </tr>

          <tr>
            <td><label for="Registered">Registration date & time :</label></td>
            <td><input type="text" autocomplete="off" name="Registered" /></td>
          </tr>

          <tr>
            <td><label for="FavoriteFruit">FavoriteFruit :</label></td>
            <td><input type="text" autocomplete="off" name="FavoriteFruit" /></td>
          </tr>

          <tr>
            <td></td>
            <td><button class="btn btn-md btn-light btn-outline" type="submit">Add new student</button></td>
          </tr>
        </table>
      </form>


      <!-- UPDATE -->
      <h3>Update details</h3>
      <form action="/updateDetailsPage" method="post" >
        <input type="text" placeholder="Student's Id" autocomplete="off" name="Id" />
        <button class="btn btn-md btn-light btn-outline" type="submit">Get details to update</button>
      </form>


      <!-- DELETE -->
      <h3>Delete student's details</h3>
      <form action="/delete" method="post" >
        <input type="text" placeholder="Student's Id" autocomplete="off" name="Id" />
        <button class="btn btn-md btn-light btn-outline" type="submit">Delete details</button>
      </form>
  <% } %>

<%- include('partials/footer'); -%>
 